<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Activities in Roscommon</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      During your stay in Roscommon, there are many activities in which you can participate. Some of these activities are detailed below, along with a YouTube video about Roscommon.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Golden island </ion-card-title>
      <img src="assets/Golden-island.png" alt="Golden-island-Image" style="max-width: 300px; height: auto;">
    </ion-card-header>
    <ion-card-content>
      Golden Island Shopping Centre, Athlone offers a quality shopping experience with over 40 different retail outlets to choose from, including Tesco and IMC.
    </ion-card-content>
    <ion-button fill="clear" href="https://goldenislandshoppingcentre.ie/">CLICK FOR MORE</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Athlone Regional Sports Centre </ion-card-title>
      <img src="assets/ars.png" alt="ars-Image" style="max-width: 300px; height: auto;">
    </ion-card-header>
    <ion-card-content>
      The Athlone Regional Sports Centre is a fitness hub with a big indoor swimming pool, football pitch, astro turf, tennis courts, and a fully-equipped gym. It's a one-stop destination for sports and fitness enthusiasts.
    </ion-card-content>
    <ion-button fill="clear" href="https://www.athlonersc.ie/">CLICK FOR MORE</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Strokestown</ion-card-title>
      <img src="assets/stokestown.png" alt="stokestown.png-Image" style="max-width: 300px; height: auto;">
    </ion-card-header>
    <ion-card-content>
      Strokestown is located in County Roscommon. It features a variety of amenities including restaurants, pubs, hotels, and activities such as historical sites and museums.
    </ion-card-content>
    <ion-button fill="clear" href="https://www.visitroscommon.ie/plan-your-visit/strokestown/">CLICK FOR MORE</ion-button>
  </ion-card>
  <h2>Explore Roscommon: A Video Tour</h2>
  <iframe width="100%" height="250" src="https://www.youtube.com/embed/hoDbsUkcuvU" frameborder="0" allowfullscreen></iframe>
</ion-content>

