<!-- nightlife.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Nightlife</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nightlife in Roscommon</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Roscommon's nightlife is a vibrant blend of tradition and conviviality, attracting visitors with its cozy taverns and lively bars. Renowned for its warm hospitality and live music until around midnight, it's a must-visit for those seeking an authentic Irish experience. From traditional folk tunes to modern hits, the town's nightlife scene encapsulates the essence of Irish conviviality, making it a memorable destination for locals and travelers alike.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>jj harlows</ion-card-title>
      <img src="assets/jj-harlows.png" alt="jj-harlows.png-Image" style="max-width: 300px; height: auto;">
    </ion-card-header>
    <ion-card-content>
      JJ Harlow’s, one of Roscommon’s oldest traditional bars, has a cozy and welcoming atmosphere. With snug corners and wooden furnishings, it's a place where locals and visitors gather to share stories and laughter over a pint or two. Whether you're looking for a quiet drink or the lively spirit of an Irish pub, JJ Harlow’s is a favorite spot for all, making it an essential part of Roscommon’s social scene.
    </ion-card-content>
    <!--Button to take the user to the website of JJ Harlows-->
    <ion-button fill="clear" href="https://www.irelandswhiskeyguide.com/index.php/154-jj-harlow-s-oldest-traditional-bar-one-of-roscommon-s">CLICK FOR MORE</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>The Purple Onion</ion-card-title>
      <img src="assets/The-Purple-Onion.png" alt="The-purple onion-Image" style="max-width: 300px; height: auto;">
    </ion-card-header>
    <ion-card-content>
      Located in the heart of Ireland, The Purple Onion sits in Tarmonbarry, Co. Roscommon, along the N5 highway between Longford and Strokestown. This cozy eatery offers a warm welcome to both locals and travelers, serving up delicious, locally sourced dishes in a charming atmosphere. From  Irish stews to steaks.
    </ion-card-content>
    <!--Button to take the user to the website of The Purple Onion-->
    <ion-button fill="clear" href="https://www.purpleonion.ie/">CLICK FOR MORE</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hanly's</ion-card-title>
      <img src="assets/Hanly's.png" alt="Hanly's-Image" style="max-width: 300px; height: auto;">
    </ion-card-header>
    <ion-card-content>
      Hanly's Bar in Roscommon is famous for its wide range of craft and international beers, creating a lively atmosphere loved by locals and visitors alike. With cozy decor and friendly staff, it's the perfect spot to relax and enjoy a delicious brew. Whether you're a beer aficionado or just looking for a fun night out, Hanly's is the place to be.
    </ion-card-content>
    <!--Button to take the user to the website of Hanly's Bar-->
    <ion-button fill="clear" href="https://www.trip.com/travel-guide/foods/strokestown-47680-restaurant/hanly-s-bar-61768616">CLICK FOR MORE</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Regan's Gastro Pub</ion-card-title>
      <img src="assets/Rgp.png" alt="Rgp-Image" style="max-width: 300px; height: auto;">
    </ion-card-header>
    <ion-card-content>
      Regan’s Gastro Pub sounds like a delightful place. During the day, patrons can relish craft beers and hearty meals in a cozy atmosphere. The pub’s charm invites friends to unwind and enjoy each other’s company. As the sun sets, the scene shifts dramatically. The once-relaxed ambiance transforms into a lively nightclub. DJs take the stage, spinning tunes that electrify the dance floor. celebrants sway to the rhythm, creating an unforgettable experience. Whether you’re seeking a leisurely afternoon or a night of excitement, Regan’s Gastro Pub has it all!
    </ion-card-content>
    <!--Button to take the user to the website of Regan's Gastro Pub-->
    <ion-button fill="clear" href="https://regansgastropub.ie">CLICK FOR MORE</ion-button>
  </ion-card>
</ion-content>
